#mxgit-marker-start
*.launch
*.mda
*.orig
*.svn
.classpath
.gradle/
.mendix-cache
.project
.settings
.svn
.vscode
/bin/

*.mpk
*.mpr.bak
*.mpr.left*
*.mpr.lock
*.mpr.right*
/build/
/deployment/
/modeler-merge-marker
/project-settings.user.json
/theme/native/
/theme/web
/themesource/
/userlib/
/theme-cache/

/javascriptsource/communitycommons
/javascriptsource/nanoflowcommons
/javasource/*/proxies/
/javasource/system/
/javasource/communitycommons/
/javasource/encryption/
/resources/
/*.launch
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/adobesignconnector.mpr.bak
/adobesignconnector.mpr.lock
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
