#mxgit-marker-start
*.bak
*.launch
*.mda
*.mpr.lock
*.orig
*.svn
.classpath
.gradle/
.idea
.mendix-cache
.project
.settings
.svn
.vscode
/.nb-gradle-properties
/.nb-gradle/
/bin/
/build/
/nbproject/
GPUCache
gradle
gradlew
gradlew.bat
package.xml
private/cache/retriever/catalog.xml

/src/AdodeSignConnector/*.mpk
/src/AdodeSignConnector/*.mpr.bak
/src/AdodeSignConnector/*.mpr.left*
/src/AdodeSignConnector/*.mpr.lock
/src/AdodeSignConnector/*.mpr.right*
/src/AdodeSignConnector/build/
/src/AdodeSignConnector/deployment/
/src/AdodeSignConnector/javasource/*/proxies/
/src/AdodeSignConnector/javasource/system/
/src/AdodeSignConnector/modeler-merge-marker
/src/AdodeSignConnector/project-settings.user.json
/src/AdodeSignConnector/theme/native/
/src/AdodeSignConnector/theme/web
/src/AdodeSignConnector/themesource/
/src/AdodeSignConnector/userlib/
/src/AdodeSignConnector/theme-cache/

*.mpk
*.mpr.bak
*.mpr.left*
*.mpr.lock
*.mpr.right*
/build/
/deployment/
/javasource/*/proxies/
/javasource/system/
/modeler-merge-marker
/project-settings.user.json
/theme/native/
/theme/web
/themesource/
/userlib/
/theme-cache/
/*.launch
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/adobesignconnector.mpr.bak
/adobesignconnector.mpr.lock
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
